body {
  font-family: sans-serif;
  margin: 20px;
}

.centering {
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  font-family: monospace;
  white-space: pre;        /* 改行文字だけで改行 */
  overflow-wrap: normal;   /* 単語途中で折り返さない */
  word-break: normal;      /* 単語途中で折り返さない */
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}